<html>
    <header>
        <title>{% block title %}???{% endblock %} - Pi Server</title>
        <link rel="icon" href="/static/pi_logo.png" />
        <link rel="stylesheet" href="static/css/bootstrap.css" />
        {% block head %}{% endblock %}
    </header>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <img src="/static/pi_logo.png" width="30"/>
            <div class="container">
                <ul class="navbar-nav">
                {% for page_name, page_url in pages %}
                    <li class="nav-item"><a class="nav-link" href="{{page_url}}">{{page_name}}</a></li>
                {% endfor %}
                </ul>
            </div>
        </nav>
        <br/>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>